<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="container">
      <div class="inner cover" style="text-align: center;">
        <h1 style="color: floralwhite;">Sanbox</h1>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" 
                  type="button" 
                  class="btn btn-secondary dropdown-toggle"
                  style="margin-top: 1rem; color: floralwhite;"
                  data-toggle="dropdown" 
                  aria-haspopup="true" 
                  aria-expanded="false">
            Get In
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="nav-link text-dark" [routerLink]="['/baseball']">Baseball</a>
            <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']" >Fetch data</a>
            <a class="nav-link text-dark" [routerLink]="['/music']">Music</a>
            <a class="nav-link text-dark" [routerLink]="['/starship-commander']">SC</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>