<div class="card">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{expansionPanelContent.title}}
                </mat-panel-title>
                <mat-panel-description>
                    {{expansionPanelContent.description}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            {{expansionPanelContent.content}}
        </mat-expansion-panel>
    </mat-accordion>
</div>